.input {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    color: var(--text-color);
    border: 1px solid #EEE;
    box-shadow: 15px 20px 45px 0px rgb(233, 233, 233, 0.25);
    border-radius: 0.625rem;
    outline: none;
    padding: 1.25rem;
}