.button {
    border-radius: 6px;
    padding: 8px 30px;
    cursor: pointer;
    transition: background 0.25s;
    font-size: 16px;
    color: var(--white-color);
    border: none;
}

.accent {
    background: var(--primary-color);
}

.accent:hover {
    background: var(--primary-hover-color);
}
