:root {
    --font: "Poppins", sans-serif;
    --primary-color: #C71585;
    --primary-hover-color: #FF1493;
    --text-color: #000;
    --text-secondary-color: #5b5b5e;
    --white-color: #fff;
    --separator-color: #D4D6E0
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* 
60px
 */
