:root {
    --font: "Poppins", sans-serif;
    --primary-color: #06d001;
    --primary-hover-color: #069604;
    --text-color: #000;
    --text-secondary-color: #5b5b5e;
    --white-color: #fff;
    --separator-color: #D4D6E0
}

body {
  font-family: "Poppins", sans-serif;
}

